.one-column-wrap {
  width: 250px;
  height: 100%;
  display: inline-block;
  vertical-align: top;

  .one-column {
    background-color: #f5ffb5;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;

    .place-for-cards{
      max-height: 480px;
      overflow-y: auto;
    }


    .column-title-panel {
      padding: 10px 5px;

      .column-title {
        font-weight: 800;
        font-size: 15px;
        font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
      }
      .delete-column-button {
        float: right;
        background-color: #f5ffb5;
        color: grey;
      }
      .sort-cards-button {
        float: right;
        background-color: #f5ffb5;
        color: grey;
      }
    }

    .notes-field {
      margin: 10px 5px 10px;
      padding: 3px;
      border-radius: 2px;

      .form-control {
        background-color: white;
        resize: vertical;
        max-height: 300px;
        min-height: 40px;
      }
      .deadline{
        width: 60px;
        font-size: 12px;
        text-align: center;
        margin-right: 10px;
        float: left;
        background-color: rgba(252, 181, 226, 0.66);
        border: 1px solid grey;
        border-radius: 5px;
      }
      .card-button {
        background-color: #f5ffb5;
        float: right;
        margin: 2px;
        color: rgba(145, 145, 145, 0.89);
      }
    }
  }

  .add-card {
    color: #737373;
    margin: 15px 5px 10px;
    padding: 5px 3px;
  }

}
