@mainColor: rgb(75, 191, 107);

@TopPanelHeight: 60px;
@LeftMenuPanelWidth: 300px;

@import "panels/topPanel";
@import "panels/menuPanel";
@import "column";

.main-container {
  background-color: rgba(88, 88, 88, 0.4);
  padding-top: @TopPanelHeight;
  //padding-left: 45px;
  height: 100%;
  .central-part {
    width: 100%;
    height: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

div {
  display: block;
}

//далі йде гавнокод - треба подумати - але воно так працює - забрати цей коментар на реліз
body {
  height: 100%;
}

html {
  height: 100%;
}
