.left-menu-panel {
  background-color: rgba(116, 116, 116, 0.9);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: @LeftMenuPanelWidth;
  margin-top: @TopPanelHeight;
  transition: 0.5s;
  border-right: 1px solid #737373;
  box-shadow: 5px 10px 15px #797979;
  //overflow-x: hidden;

  .open-close-menu-button {
    width: 35px;
    position: absolute;
    top: 0;
    right: -34px;
    background-color: rgba(152, 152, 152, 0.4);
    border-color: rgba(88, 88, 88, 0.4);
    color: darkgreen;
    font-size: 15px;
    font-weight: 700;
  }

  #login-wrap {
    .photo-div {
      text-align: center;
      margin-top: 20px;
      .login-photo {
        width: 100%;
        max-width: 100px;
        background-color: rgba(218, 219, 209, 0.77);
        border-radius: 50% 50% 50% 50%;
      }
    }

    .form-horizontal{
      margin-top: 50px;
      padding-left: 7px;
      padding-right: 10px;
      position: absolute;
      top: 120px;
      right: 10px;
      .col-sm-8{
        padding-left: 0;
      }
      .mail-help-block, .password-help-block{
        margin-left: 100px;
        color: brown;
      }
    }


    .sign-buttons{
      margin-top: 25px;
      padding-left: 10px;
      padding-right: 10px;
      float: right;
      position: absolute;
      top: 300px;
      right: 10px;
    }


  }

  #no-login-wrap {
  margin-top: 20px;
    .user-info-panel {
      width: 100%;
      padding: 2px;

      .user-photo {
        width: 100%;
        max-width: 120px;
      }
      .user-text {
        float: right;
        padding-right: 30px;
        min-width: 150px;

        .user-name {
          background-color: #f1ffd8;
          padding: 5px;
          font-size: 14px;
          font-weight: 400;
          color: #464646;
          margin-top: 30px;
          border-radius: 3px;
        }
        .user-mail {
          background-color: #f1ffd8;
          padding: 5px;
          font-size: 14px;
          font-weight: 400;
          color: #525252;
          margin-top: 15px;
          border-radius: 3px;
        }
      }
    }

    .calendar-panel {
      margin-top: 30px;
      border-bottom: 1px solid #606060;
      margin-bottom: 30px;
      margin-left: -20px;
    }

    .menu-functions {
      width: 100%;
      margin-top: 70px;
      padding-left: 20px;
      border-top: 1px solid #606060;
      a {
        text-decoration: none;
        color: #343434;
      }
      .menu-button {
        display: block;
        margin-top: 15px;
        width: 100%;
        max-width: 200px;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

}