.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: @TopPanelHeight;
  width: 100%;
  background-color: @mainColor;
  padding-top: 10px;
  .title-linden{
    margin-left: 50px;
    color: #dbf4da;
    font-weight: 900;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}