
<div class="notes-field">
    <button class="delete-card-button btn btn-xs btn-basic">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
    <span class="deadline">deadline</span>
    <textarea class="form-control" rows="5"></textarea>
    <!--треба збільшувати висоту залежно від тексту !!!!!!!!!!!!!!!!!! -->
</div>