
<div class="notes-field">
    <button class="delete-card-button card-button btn btn-xs btn-basic">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
    <button class="edit-card-button card-button btn btn-xs btn-basic" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
    <button class="image-card-button card-button btn btn-xs btn-basic">
        <i class="glyphicon glyphicon-camera"></i>
    </button>
    <span class="deadline"><%= name%></span>
    <textarea class="form-control" rows="5"><%= text%></textarea>
</div>