
<div class="one-column-wrap">
    <div class="one-column">
        <div class="column-title-panel">
            <span class="column-title">New column</span>
            <button class="edit-column-button btn btn-sm btn-basic">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="sort-cards-button btn btn-sm btn-basic">
                <i class="	glyphicon glyphicon-resize-vertical"></i>
            </button>
        </div>
        <div class="place-for-cards">

        </div>
        <a class="add-card">Add card ...</a>
    </div>
</div>