<div class="no-login-wrap">
    <button class="open-close-menu-button btn btn-md btn-default">
        <i class="glyphicon glyphicon-th-list"></i>
    </button>
    <div class="user-info-panel">
        <img class="user-photo" src="../www/assets/images/tuch.png">
        <div class="user-text">
            <!--<div class="user-name">Tychyna</div>-->
            <div class="user-name"><%= login %></div>
            <!--<div class="user-mail">tych@gmail.com</div>-->
            <div class="user-mail"><%= mail %></div>
        </div>
    </div>
    <div class="menu-functions">
        <a href="#" class="add-column-button menu-button">Add new column</a>
        <a href="#" class="clear-board-button menu-button">Clear board</a>
        <div class="calendar-panel"></div>
        <a href="#" class="settings-button menu-button" data-toggle="modal" data-target="#setModal">Settings</a>
        <a href="#" class="exit-button menu-button change-state-btn">Log out</a>
    </div>
</div>