<!--<div id="placeForModal">-->
    <!--<div class="modal fade" id="myModal" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h3 class="modal-title">Edit card</h3>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                <!--<div class="set-deadline-panel">-->
                    <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                        <!--<input type="date" class="form-control" id="datepicker" value="2017-12-15">-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-3 col-xs-12">-->
                        <!--<button class="btn set-deadline-text">Set deadline</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="set-deadline-calendar-panel">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="calendar-set-deadline"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                <!--&lt;!&ndash;<label><input type="checkbox" value="">E-mail notifications</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="attach-image-panel">-->
                    <!--<div class="col-md-3 col-sm-3 col-xs-12">-->
                        <!--<span class="btn attach-image-button">Attach image</span>-->
                    <!--</div>-->
                    <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                        <!--&lt;!&ndash; image-preview-filename input [CUT FROM HERE]&ndash;&gt;-->
                            <!--<div class="input-group image-preview">-->
                                <!--<input type="text" class="form-control image-preview-filename" disabled="disabled">-->
                                <!--&lt;!&ndash; don't give a name === doesn't send on POST/GET &ndash;&gt;-->
                                <!--<span class="input-group-btn">-->
                                    <!--&lt;!&ndash; image-preview-clear button &ndash;&gt;-->
                                     <!--<button type="button" class="btn btn-default image-preview-clear"-->
                                             <!--style="display:none;">-->
                                        <!--<span class="glyphicon glyphicon-remove"></span> Clear-->
                                     <!--</button>-->
                                    <!--&lt;!&ndash; image-preview-input &ndash;&gt;-->
                                     <!--<div class="btn btn-default image-preview-input">-->
                                         <!--<span class="glyphicon glyphicon-folder-open"></span>-->
                                        <!--<span class="image-preview-input-title">Browse</span>-->
                                        <!--<input type="file" accept="image/png, image/jpeg, image/gif"-->
                                               <!--name="input-file-preview"/>-->
                                         <!--&lt;!&ndash; rename it &ndash;&gt;-->
                                    <!--</div>-->
                            <!--</span>-->
                            <!--</div>&lt;!&ndash; /input-group image-preview [TO HERE]&ndash;&gt;-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="text-from-card">-->
                    <!--<textarea class="form-control card-text" rows="5"></textarea>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-primary save">Save changes</button>-->
                    <!--<button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->